<div fxLayout="column">
    <div fxLayout="row" class="header-form">
        <span fxFlex>Cadastrar Evento</span>
        <div>
            <button mat-raised-button class="form-button bgc-grey-500 tc-grey-50" (click)="onBack()">
            Cancelar
            </button>
            <button [disabled]="eventoForm.invalid" mat-raised-button color="accent" class="form-button" (click)="onSave()">
            Salvar
            </button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
        <mat-card class="background-color" fxFlex="95">
            <form [formGroup]="eventoForm" novalidate>
                <div fxLayout="row" fxFlex>

                    <div fxLayout="row">
                        <div fxLayout="column" fxFlex>

                            <mat-form-field fxFlex [floatLabel]="'always'">
                                <mat-label>Nome</mat-label>
                                <input matInput id="nome" formControlName="nome" placeholder="Nome" maxlength="144" layout-align="center end">
                                <mat-error *ngIf="eventoForm.get('nome').hasError('maxLength')">
                                    Máximo 144 caracteres.
                                </mat-error>
                                <mat-error *ngIf="eventoForm.get('nome').hasError('required')">
                                    Nome é obrigatório.
                                </mat-error>

                            </mat-form-field>
                            <div fxLayout="column" fxFlex>
                                <!-- Cidade Destino-->
                                <mat-form-field fxFlex [floatLabel]="'always'">
                                    <mat-label>Cidade Destino</mat-label>
                                    <input matInput id="cidadeDestino" formControlName="cidadeDestino" placeholder="Cidade de Destino" maxlength="144" layout-align="center end">
                                </mat-form-field>
                            </div>

                            <div fxLayout="column" fxFlex=50>
                                <!-- Km-->
                                <mat-form-field fxFlex [floatLabel]="'always'">
                                    <mat-label>Km</mat-label>
                                    <input matInput id="km" formControlName="km" placeholder="Km" maxlength="100" layout-align="center end">
                                </mat-form-field>
                            </div>


                            <!-- Data Saida-->
                            <div fxLayout="row" fxFlex=50>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="pickerOne" placeholder="Escolha uma data" formControlName="dataSaida" required>
                                    <mat-datepicker-toggle matSuffix [for]="pickerOne"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerOne></mat-datepicker>
                                </mat-form-field>
                            </div>


                            <!-- Data Chegada-->
                            <div fxLayout="row" fxFlex=50>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="pickerTwo" placeholder="Escolha uma data" formControlName="dataChegada" required>
                                    <mat-datepicker-toggle matSuffix [for]="pickerTwo"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerTwo></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <!--Hora saida-->
                            <div fxLayout="column" fxFlex=50>
                                <mat-form-field>
                                    <mat-label>Horário de Saida</mat-label>
                                    <input type="time" formControlName="horaSaida" required>
                                </mat-form-field>
                            </div>

                            <!--Hora prevista chegada-->
                            <div fxLayout="column" fxFlex=50>
                                <mat-form-field>
                                    <mat-label>Horário previsto chegada</mat-label>
                                    <input type="time" formControlName="previsaoChegada" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>