<div fxLayout="column">
    <div fxLayout="row" class="header-form">
        <span fxFlex>Visualizar Evento</span>
        <div>
            <button mat-raised-button class="form-button bgc-grey-500 tc-grey-50" (click)="onBack()">
                Voltar
            </button>
            <button mat-raised-button color="accent" (click)="navigateToEdit()">
                Editar
            </button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
        <mat-card class="background-color" fxFlex="90">

            <div fxLayout="column" fxFlex=90>

                <div fxLayout="column">
                    <div fxLayout="column" fxFlex=50 class="field-detail">
                        <span>ID:</span>
                        <span class="label-detail-value">{{evento.id}}</span>
                    </div>

                    <div fxLayout="column" fxFlex=50 class="field-detail">
                        <span>Nome:</span>
                        <span class="label-detail-value">{{evento.nome}}</span>
                    </div>

                    <div fxLayout="column" fxFlex=50 class="field-detail">
                        <span>Km:</span>
                        <span class="label-detail-value">{{evento.km}}</span>
                    </div>

                    <div fxLayout="column" fxFlex=50 class="field-detail">
                        <span>Cidade de Destino:</span>
                        <span class="label-detail-value">{{evento.cidadeDestino}}</span>
                    </div>

                    <div fxLayout="column" fxFlex=50 class="field-detail">
                        <span>Data de Saida:</span>
                        <span class="label-detail-value">{{evento.dataSaida | date : 'dd/MM/yyyy'}}</span>
                    </div>



                    <div fxLayout="column" fxFlex=50 class="field-detail">
                        <span>Funcionario:</span>
                        <span class="label-detail-value">{{evento.funcionario?.nome}}</span>
                    </div>

                    <div fxLayout="column" fxFlex=50 class="field-detail">
                        <span>Transporte:</span>
                        <span class="label-detail-value">{{evento.transporte?.modelo}}</span>
                    </div>

                    <div fxLayout="column" fxFlex=50 class="field-detail">
                        <span>Status:</span>
                        <span class="label-detail-value">{{evento.status}}</span>
                    </div>

                </div>

            </div>
        </mat-card>
    </div>
</div>